<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
   
    <system.serviceModel>
        <bindings />
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
                    <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false" includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="Mining_Station.WtmProxyServer">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
                    contract="Mining_Station.IWtmProxyServer">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:3535/MiningStation/WtmProxyServer/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Mining_Station.AccessPoint">
                <endpoint address="" binding="netTcpBinding" contract="Mining_Station.IAccessPoint">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3535/MiningStation/AccessPoint/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Mining_Station.FileServer">
                <endpoint address="" binding="basicHttpBinding" contract="Mining_Station.IFileServer">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3535/MiningStation/FileServer/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
